*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    background-color: #548687;
}
.container{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.game{
    height: 60vh;
    width: 60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
}
.box{
    height:18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border:none;
    font-size: 8vmin;
    color: red
}
#reset-btn{
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    border: none;
    background-color: #f7f7f7;
    cursor: pointer;
}
.msg-container{
    height:40 vmin;
    margin-top: 2rem;
    font-size: 2rem;
    color: #f7f7f7;
}